ApiCsv/obj/
ApiCsv/bin/
ApiCsv/.vs/ApiCsv/FileContentIndex/1af67b53-1ce3-44c2-8c5b-adf9a20759f3.vsidx
ApiCsv/.vs/
ApiCliente/ApiCliente/.vs/
ApiCliente/ApiCliente/bin/
ApiCliente/ApiCliente/obj/
ApiFilmes/ApiFilmes/obj/
ApiFilmes/ApiFilmes/bin/Debug/net8.0/pt-BR/
ApiFilmes/ApiFilmes/bin/Debug/net8.0/ru/
ApiFilmes/ApiFilmes/bin/Debug/
ApiFilmes/ApiFilmes/.vs/ApiFilmes/CopilotIndices/17.13.433.20974/
ApiFilmes/ApiFilmes/.vs/ApiFilmes/FileContentIndex/
ApiFilmes/ApiFilmes/.vs/ApiFilmes/copilot-chat/
ApiFilmes/ApiFilmes/.vs/ProjectEvaluation/
ApiFilmes/ApiFilmes/.vs/ApiFilmes/
